@import "../_section.scss";
@import "../_mediaQueries.scss";

#footerSection {
  height: 40vh;
}

#footer {
  text-align: center;
}

// Portrait

@include portrait360 {
  #footerSection {
    height: 55vh;
  }
}

@include portrait375 {
  #footerSection {
    height: 40vh;
  }
}

@include portrait390 {
  #footerSection {
    height: 50vh;
  }
}

@include portrait412 {
  #footerSection {
    height: 55vh;
  }
}

@include portrait414 {
  #footerSection {
    height: 55vh;
  }
}

@include portrait768 {
  #footerSection {
    height: 75vh;
  }
}

@include portrait820 {
  #footerSection {
    height: 70vh;
  }
}

@include portrait912 {
  #footerSection {
    height: 80vh;
  }
}

// Landscape

@include landscape1024 {
  #footerSection {
    height: 60vh;
  }
}

@include landscape1180 {
  #footerSection {
    height: 70vh;
  }
}
