@import "../_section.scss";
@import "../_mediaQueries.scss";

#footerSection {
  height: 35vh;
}

#footer {
  text-align: center;
}

// Portrait

@include portrait360 {
  #footerSection {
    height: 40vh;
  }
}

@include portrait375 {
  #footerSection {
    height: 35vh;
  }
}

@include portrait390 {
  #footerSection {
    height: 50vh;
  }
}

@include portrait412 {
  #footerSection {
    height: 55vh;
  }
}

// @include portrait414 {
//   #footerSection {
//     height: 50vh;
//     text-align: center;
//     margin-top: -90%;
//   }
// }

@include portrait540 {
  #footerSection {
    height: 45vh;
  }
}

@include portrait768 {
  #footerSection {
    height: 60vh;
  }
}

@include portrait820 {
  #footerSection {
    height: 65vh;
  }
}

@include portrait912 {
  #footerSection {
    height: 70vh;
  }
}

// // Landscape

// @include landscape653 {
//   #footerSection {
//     text-align: center;
//     margin-top: -1%;
//   }
// }

@include landscape667 {
  #footerSection {
    height: 25vh;
  }
}

// @include landscape1024And768 {
//   #footerSection {
//     height: 50vh;
//   }
// }

@include landscape1024And600 {
  #footerSection {
    height: 40vh;
  }
}

@include landscape1180 {
  #footerSection {
    height: 50vh;
  }
}

// Responsive

@include landscape1326 {
  #footerSection {
    height: 30vh;
  }
}
