section {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f3d0db;
  height: 100vh;
}

.sectionTitle {
  text-align: center;
  font-weight: 500;
}

#textPara {
  margin-top: 5%;
}

#contact {
  margin-top: -15%;
  padding-top: 10%;
  color: #220606 !important;
}

.btn {
  background-color: #220606 !important;
  border: none !important;
}

input,
textarea {
  background-color: #f3d0db !important;
  border-color: #adabab !important;
}

@media screen and (min-width: 280px) and (orientation: portrait) {
  #contact {
    margin-top: -1%;
    padding-top: 71%;
  }
}

@media screen and (min-width: 360px) and (orientation: portrait) {
  #contact {
    margin-top: -97%;
  }
  #contactSection {
    height: 110vh;
  }
}

@media screen and (min-width: 375px) and (orientation: portrait) {
  #contact {
    margin-top: -79%;
  }
  #contactSection {
    height: 110vh;
  }
}

@media screen and (min-width: 390px) and (orientation: portrait) {
  #contact {
    margin-top: -134%;
  }
}

@media screen and (min-width: 412px) and (orientation: portrait) {
  #contact {
    margin-top: -160%;
  }
}

@media screen and (min-width: 414px) and (orientation: portrait) {
  #contact {
    margin-top: -152%;
  }
}

@media screen and (min-width: 540px) and (orientation: portrait) {
  #contact {
    margin-top: -116%;
  }
  #contactSection {
    height: 125vh;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  #contact {
    margin-top: -158%;
  }
  #contactSection {
    height: 130vh;
  }
}

@media screen and (min-width: 820px) and (orientation: portrait) {
  #contact {
    margin-top: -180%;
  }
  #contactSection {
    height: 130vh;
  }
}

@media screen and (min-width: 912px) and (orientation: portrait) {
  #contact {
    margin-top: -191%;
  }
}

@media screen and (min-width: 653px) and (orientation: landscape) {
  #contact {
    margin-top: -12%;
  }
  #contactSection {
    height: 150vh;
  }
}

@media screen and (min-width: 667px) and (orientation: landscape) {
  #contact {
    margin-top: -58%;
  }
  #contactSection {
    height: 180vh;
  }
}

@media screen and (min-width: 720px) and (orientation: landscape) {
  #contact {
    margin-top: -93%;
  }
  #contactSection {
    height: 140vh;
  }
}

@media screen and (min-width: 740px) and (orientation: landscape) {
  #contact {
    margin-top: -55%;
  }
  #contactSection {
    height: 200vh;
  }
}

@media screen and (min-width: 844px) and (orientation: landscape) {
  #contact {
    margin-top: -66%;
  }
  #contactSection {
    height: 190vh;
  }
}

@media screen and (min-width: 896px) and (orientation: landscape) {
  #contact {
    margin-top: -69%;
  }
}

@media screen and (min-width: 914px) and (orientation: landscape) {
  #contact {
    margin-top: -18%;
  }
  #contactSection {
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #contact {
    margin-top: -45%;
  }
  #contactSection {
    height: 90vh;
  }
}

@media screen and (min-width: 1180px) and (orientation: landscape) {
  #contact {
    margin-top: -123%;
  }
  #contactSection {
    height: 160vh;
  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  #contact {
    margin-top: -64%;
  }
  #contactSection {
    height: 100vh;
  }
}

@media screen and (min-width: 1368px) and (orientation: landscape) {
  #contact {
    margin-top: -73%;
  }
}
/*# sourceMappingURL=contact.css.map */