@import "../_section.scss";
@import "../_sectionTitle.scss";
@import "../textPara";
@import "../_navColour.scss";
@import "../_mediaQueries.scss";

#about {
  margin-top: -120%;
  padding-top: 10%;
  @include navCol;
}

// Portrait

@include portrait280 {
  #about {
    margin-top: -1%;
  }
}

@include portrait360 {
  #about {
    margin-top: -1%;
  }
}

@include portrait375 {
  #about {
    margin-top: -1%;
  }
}

@include portrait390 {
  #about {
    margin-top: -1%;
  }
}

@include portrait412 {
  #about {
    margin-top: -1%;
  }
}

@include portrait414 {
  #about {
    margin-top: -1%;
  }
}

@include portrait540 {
  #aboutSection {
    height: 68vh;
  }
}

@include portrait768 {
  #about {
    padding-top: 10%;
  }
  #aboutSection {
    height: 60vh;
  }
}

@include portrait820 {
  #about {
    padding-top: 30%;
  }
  #aboutSection {
    height: 70vh;
  }
}

@include portrait912 {
  #aboutSection {
    height: 60vh;
  }
}

// Landscape

@include landscape653 {
  #about {
    margin-top: -1%;
  }
}

@include landscape667 {
  #about {
    margin-top: -1%;
  }
}

@include landscape740 {
  #about {
    margin-top: -3%;
  }
}

@include landscape844 {
  #about {
    margin-top: -3%;
  }
}

@include landscape896 {
  #about {
    margin-top: -4%;
  }
}

@include landscape1180 {
  #about {
    margin-top: -4%;
  }
}

// Responsive

@include portrait465 {
  #about {
    margin-top: -32%;
  }
}
