section {
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(243, 208, 219);
  height: 100vh;
}

.sectionTitle {
  text-align: center;
}

#testimonial {
  margin-top: -142%;
  padding-top: 10%;
}

#testimonialText {
  margin-top: 5%;
}
